<div class="mat-elevation-z8">
        <form  (change)="onChange($event,r.value)">  
                <fieldset class="material">
                  <label>Radius</label>
                  <hr>
                  <input #r type="number" placeholder={{radius}} autocomplete="on" value = 5 required> 
                </fieldset>
                <ng-container *ngIf="!render">
                  <app-calc-component value={{r.value}} selCalc='circumference'></app-calc-component>
                </ng-container>  
        </form>
</div>
  
